/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header_top_logo {
    float: none;
    margin-top: 10px;
    display: block;
  }
  .header_top {
    text-align: center;
  }
  .header_top_contacts {
    float: none;
  }
  .header_top_btn {
    float: none;
  }
  .services_warranty p br {
    display: none;
  }
  .services_work p br {
    display: none;
  }
  .services_fridge p br {
    display: none;
  }
  .semicircle_right {
    display: none;
  }
  .semicircle_left {
    display: none;
  }
  .s_products_item:nth-child(1) a {
    border: 2px solid #fff;
  }
  .s_products_item:nth-child(2) a {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
  }
  .btn {
    display: block;
  }
  nav {
    display: none;
    position: absolute;
    z-index: 3;
  }
  nav li {
    width: 100%;
    border-top: 1px solid  #33ACF5;
  }
  nav li:last-child {
    border-bottom: 1px solid  #33ACF5;
  }
  .slider {
    height: 293px;
  }
  .slider .owl_item {
    height: 300px;
    padding-top: 30px;
  }
  .slider .owl_item > div {
    min-height: 188px;
  }
  .slider .owl_item span {
    font-size: 30px;
    margin-top: 50px;
    margin-left: 23px;
    line-height: 38px;
  }
  .owl_item_img {
    max-width: 330px;
    min-height: 148px;
    float: right;
    margin-top: 0;
    margin-right: 11px;
  }
  .slider .owl-dots {
    display: none;
  }
  .wrapp_section {
    margin-top: 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .slider .owl_item span {
    float: none;
    display: block;
    margin: 10px 0 0;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
  .slider .owl_item > div {
    overflow: hidden;
  }
  .owl_item_img {
    max-width: 250px;
    min-height: 148px;
    float: none;
    margin: 20px auto 0;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .slider .owl_item span {
    float: none;
    display: block;
    margin-top: 10px;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
  }
  .slider .owl_item > div {
    overflow: hidden;
  }
  .owl_item_img {
    max-width: 230px;
    min-height: 135px;
    float: none;
    margin: 20px auto 0;
  }
  .s_form_input {
    width: 275px;
  }
  .s_form_textarea {
    width: 275px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  .slider {
    height: 251px;
  }
  .slider .owl_item span {
    font-size: 21px;
    line-height: 26px;
  }
  .owl_item_img {
    max-width: 215px;
    min-height: 123px;
    margin: 15px auto 0;
  }
  footer p {
    margin-left: 10px;
  }
}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .wrapp_topBg {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }
  nav {
    display: block !important;
  }
  .s_products_item:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/* Large Devices, Wide Screens */
